{% extends "base.html" %}
{% load static %}
{% load form_tags %}

{% block content %}
<style>
  .auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    flex-direction: column;
  }
  .auth-container {
    width: 360px;
    background: #ffffff;
    border-radius: 10px;
    padding: 30px 25px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  }
  .auth-container h2 {
    text-align: center;
    color: #1d3c78;
    margin-bottom: 20px;
    font-weight: 700;
  }
  .auth-container h3 {
    text-align: center;
    color: #1d3c78;
    margin-bottom: 20px;
    font-weight: 400;
      font-size: 15px;
  }
  .input-field {
    border-radius: 30px;
    padding: 14px;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 15px;
    box-sizing: border-box;
  }
  .auth-container form button {
    background-color: #2a7de1;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 14px;
    width: 100%;
    border-radius: 30px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  .auth-container form button:hover {
    background-color: #1c5cbf;
    transform: scale(1.03);
  }
  .footer-link {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
  }
  .footer-link a {
    color: #2a7de1;
    text-decoration: none;
  }
  .footer-link a:hover {
    text-decoration: underline;
  }
</style>

<div class="auth-wrapper">
  <div class="auth-container">
    <h2>Reset Your Password</h2>
      <h3>Enter Your Account Email</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.email.errors }}
      <div>{{ form.email|add_class:"input-field" }}</div>
      <button type="submit">Send Reset Link</button>
    </form>
    <div class="footer-link">
      <a href="{% url 'login' %}">Back to Login</a>
    </div>
  </div>
</div>
{% endblock %}
